.menu li {
    /* Es forma de declaracion jeraquica, solo funciona con padre e hijo */
    list-style: none;
    /*estamos diciendo que esta lista desaparesca*/
    display: inline-block;
    /*se muestra en linea horizontal*/
    /* margin: 10px; */
    /* aplica a los 4 lados */
    margin: 5px 15px;
    /* el primer numero aplica arriba y abajo, el segundo digito aplica 
    a la izquierda y a la derecha */
    /* margin: 10px 20px 30px 40px ; */
    /* se modifica en sentido horario */
    /* margin-top: 30px;
    margin-bottom: 50px;
    margin-right: 70px;
    margin-left: 90px; */

    border: 1px groove black;
    /* ancho de 1px, tipo solido ,color negro */
    padding: 5px 10px;
    font-family: 'Times New Roman', Times, serif;
    /* se refiere a letras, permite 
    escojer un tipo de letra especifica*/
    font-size: 20px;
    /* es el tamaño de letra */
    background-color: #55a8b1;
}

.menu {
    background: #0AEEE3;
    padding: 5px 15px;
    text-align: left;
    /* margin: 20px; */
}

h1 {
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}


body {
    text-align: center;
    background: #C2E9F2;
}

.agrupar {

    border: 1px solid black;
    background: #e1edb6;
    width: 900px;
    /* ancho de la ventana */
    margin: 20px auto;
}


.cabecera {
    background-color: aquamarine;
    border: 2px solid black;
    background: #73CFD9;
}

.seccion {
    width: 300px;
    margin: 10px;
    float: left;
}

#idarticulo1,
#idarticulo2 {

    background: #C2E9F2;
    border: 1px solid #999;
    padding: 20px;
}

article footer {

    text-align: right;
}

.referencias {
    width: 200px;
    float: right;
    margin: 30px 35px;
    padding-left: 2px;

}

.pie { /*no se permite la superposicion
    a la izquierda ni a la derecha del elemento 
    con la clase pie*/

    clear: both;
}

blockquote {
    border: 1px solid black;
    padding: 5px;
    background: #C2E9F2;
    width: 150px;
}

img {

    width: 200px;
    height: 100px;
}



/*
.menu,li{
 color: red;
}
li{
    background-color: black;
}
*/