.container {
    display: flex;
    justify-content: center;/* se alinea el contenidoe jemploel texto guardar, cual es el contenido del div?: el centro */
    align-items: center;

}





body {
    background: rgb(139, 230, 246);
}

p:before {
    content: attr(type);
    display: block;
    margin: 3px 2px;
    font-size: 15px;
    color: rgb(20, 2, 137);
}

input {
    width: 200px;
    border: none;
    border-bottom: 2px solid rgb(70, 1, 1);
    /* Borde unicamente hacia abajo */
    background: none;
}
.tituloPrincipal{
    margin: auto;
}



input:focus {
    outline: none;
    border-bottom: 2px solid rgb(144, 100, 100);
}

h2 {
    margin: 10px 2px;
    width: 180px;
    /* ancho */
    color: rgb(1, 66, 18);
    border-bottom: 3px solid rgb(197, 190, 190);
}

.form {
    /* se trata de siempre definir un tamaño */
    display: grid;
    grid-template-columns: repeat(3,300px);
    grid-template-rows: 70px repeat(5,75px);
    width: 850px;
    height: 400px;
    background: rgb(16, 137, 141);
    border-radius: 10px;
    padding: 25px 35px;

    box-shadow: 0 0 40px 5px black;

}

.boton{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 25px;

}
button{
    padding: 10px 20px;
    background: #78788c;
    color: white;
    border-radius: 10px;
    cursor: pointer;
    border: none;

}

.col-2{
    grid-column: span 2;/* Permite ocupar 2 espacios en la grilla */


}
.inputDoble{
    width: 500px;
}



.col-3{
    grid-column: span 3;/* Permite ocupar 2 espacios en la grilla */
    height: 40px;
    margin: 0px 5px;

}

#datosBasicos{
    margin:  auto 5px;;
}




