.container{
    display: flex;
    justify-content: center;
    align-items: center;

}
body{
    background: rgb(139, 230, 246);
}

p:before{
    content: attr(type);
    display: block;
    margin: 3px 2px;
    font-size: 15px;
    color: rgb(20, 2, 137);
}

input{
    width: 320px;
    border: none;
    border-bottom: 2px solid rgb(70, 1, 1); /* Borde unicamente hacia abajo */
    background: none;
}

input:focus{
    outline: none;
    border-bottom: 2px solid rgb(144, 100, 100);
}

h2{
    margin: 10px 2px;
    width: 180px; /* ancho */
    color: rgb(1, 66, 18);
    border-bottom: 3px solid rgb(197, 190, 190);


}

.form{ /* se trata de siempre definir un tamaño */
    width: 350px;
    height: 400px;
    background: rgb(16, 137, 141);
    border-radius: 10px;
    padding: 25px 35px;

    box-shadow: 0 0 40px 5px black;

    justify-content: center;
    align-items: center;
}